@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-Montserrat;
  }
  body {
    background: #f1f1f1;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
  @apply bg-blue-100 text-blue-600;
}


.search-bar {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  border-color: black;
}

.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 10px;
}

.preview-table {
  width: 100%;
  border-collapse: collapse;
}

.preview-table th, .preview-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.preview-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

@keyframes smooth-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3; /* optional: adjust to how dim you want it */
  }
}

.blink {
  animation: smooth-blink 1.2s ease-in-out infinite;
}

@media print {

  body * {
    visibility: hidden;
    overflow: visible !important;
    height: auto !important;
  }

  #print-section,
  #print-section * {
    visibility: visible;
    overflow: visible !important;
    height: auto !important;
  }

  #print-section {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }

  button {
    display: none !important;
  }
}

